<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    
    <title>Naneau's IRC</title>
    
    <link rel="stylesheet" href="css/style.css" />
    
    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="socket.io/socket.io.js"></script> 
    
    <script type="text/javascript" src="js/app.js"></script>
    
    <script type="text/javascript">
        
        var config = {
            server: '10.0.1.8',
            port: 8080
        }
            
        
        $(document).ready(function() {
            
            // Use mustache style templates... because EJS, used server side, does not have an escape block :x
            _.templateSettings = {
              interpolate : /\{\{(.+?)\}\}/g
            };
            
            // App
            var app = new IRCApp(
                $('#app')
            )

        })
    </script>
</head>
<body>
    <div id="app"></div>
    <%- body %>
    
    <script type="text/template" id="app-template">
        <section class="irc">
            <ul class="chat"></ul>
            
            <form>
                <input type="text" id="message" autocomplete="off" />
            </form>
        </section>
    </script>
    
    <script type="text/template" id="message-template">
        <li class="message">
            <span class="nick">{{from}}</span>
            {{message}}
        </li>
    </script>
</body>
</html>