<li class="xmpp">
    Your Mom
    <span class="message-count">97</span>
</li>

<li class="xmpp">
    Geoffrey Bachelet, Jurrien Stutterheim, Cameron Cox
    <span class="message-count">3</span>
</li>

<section class="following">
    
    <h2>Following</h2>
    
    <ul>
        <li class="twitter">
            @naneau
            <span class="message-count">19</span>
        </li>
        
        <li class="twitter">
            #dikdiks
            <span class="message-count">3</span>                                
        </li>

        <li class="twitter">
            #dikdiks
            <span class="message-count">3</span>                                
        </li>
    
    </ul>
    
</section>
